@import './variables';
@import './mixins';

%text-input {
  @include border-radius();
  background: $aqua-haze;
  border: 1px solid transparent;
  box-sizing: border-box;

  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  width: 100%;
}
