@import '../core';

body {
  color: $default-color;
  box-sizing: border-box;
  min-width: map_get($grid-breakpoints, 'xl');
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}