@import '../core';

.btn {
  background: $white;
  cursor: pointer;
  font-family: $headings-font-family;
  font-size: $font-size-xs !important;
  letter-spacing: $uppercase-label-letter-spacing / 2;
  max-height: 34px;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn.btn-outline-primary {
  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 25%);
  }

  &:not([disabled]):not(.disabled):active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 15%);
  }
}

.btn.btn-primary {
  border-color: transparent;
  color: $white;

  &:not([disabled]):not(.disabled):hover {
    border-color: transparent;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 25%);
  }

  &:not([disabled]):not(.disabled):active {
    background-color: darken($primary, 5%);
    border-color: transparent;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 15%);
  }
}

.btn.btn-primary.btn-gradient-primary {
  background-image: linear-gradient(to right, $robin-egg-blue, $primary);
  border-color: transparent;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus {
    /* This is necessary to prevent flickering in Chrome */
    background: linear-gradient(to right, darken($robin-egg-blue, 5%), darken($primary, 5%));
  }

  &:not([disabled]):not(.disabled):active {
    background: linear-gradient(to right, darken($robin-egg-blue, 7%), darken($primary, 7%));
  }

  &:disabled {
    background: linear-gradient(to right, lighten($regent-gray, 7%), $regent-gray);
    opacity: inherit;
  }
}

.btn.btn-outline--grey {
  border-color: $periwinkle-gray;
  color: $regent-gray;

  &:not([disabled]):not(.disabled):hover {
    border-color: $primary;
    color: $primary;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($periwinkle-gray, 10%);
    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 25%);
    }
  }

  &:not([disabled]):not(.disabled):active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($periwinkle-gray, 8%);
    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px lighten($primary, 15%);
    }
  }
}

.btn.btn-light {
  background: transparent;
  border-color: transparent;
  color: $regent-gray;

  &:not([disabled]):not(.disabled):hover {
    background: transparent;
    border-color: transparent;
    color: $primary;
  }

  &:not([disabled]):not(.disabled):focus {
    color: darken($primary, 5%);
    box-shadow: none;
    background: transparent;
    border-color: transparent;
  }

  &:disabled {
    background: transparent;
    border-color: transparent;
  }
}

// todo: get activity indicator from michele
.button__activity-indicator {
  display: block;
  margin-top: 20px;
  height: 34px;
}