<ne-navbar></ne-navbar>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav">
                <div *ngFor="let section of sections; let i = index" class="bd-toc-item" [ngClass]="{'active': section === activeSection}">
                    <a class="bd-toc-link" href="#" (click)="onClickSectionTitle(i)">{{ section.title }}</a>
                    <ul class="nav bd-sidenav">
                        <li *ngFor="let item of section.items; let j = index" (click)="onClickListItem(j)" [ngClass]="{'active': activeItem == item, 'bd-sidenav-active': activeItem == item}">
                            <a href="#">{{ item.title }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <router-outlet></router-outlet>
        </main>

    </div>
</div>


